<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>STOCKS</title>
    <!-- Bootstrap core CSS-->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

      <a class="navbar-brand mr-1" href="/">Stocks</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>
      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </a>
        </li>
      </ul>

    </nav>

    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav nav nav-pills nav-stacked " data-spy="affix" data-offset-top="205">
        <li class="nav-item active">
          <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Home</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Files</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">Files:</h6>
            <a class="dropdown-item" href="TopStocks_ConsDis_W39Y2018_W42Y2018.csv">Consdis</a>
            <a class="dropdown-item" href="TopStocks_ConsStap_W1Y2017_W4Y2017.csv">Constap</a>
            <a class="dropdown-item" href="TopStocks_Energy_W38Y2018_W41Y2018.csv">Energy</a>
            <a class="dropdown-item" href="TopStocks_Finance_W39Y2018_W42Y2018.csv">Finance</a>
            <a class="dropdown-item" href="TopStocks_Healthcare_W37Y2018_W40Y2018.csv">Healthcare</a>
            <a class="dropdown-item" href="TopStocks_Industrial_W39Y2018_W42Y2018.csv">Industrial</a>
            <a class="dropdown-item" href="TopStocks_IT_W38Y2018_W41Y2018.csv">IT</a>
            <a class="dropdown-item" href="TopStocks_LargeCap_W39Y2018_W42Y2018.csv">LargeCap</a>
            <a class="dropdown-item" href="TopStocks_Material_W39Y2018_W42Y2018.csv">Material</a>
            <a class="dropdown-item" href="TopStocks_MediumCap_W39Y2018_W42Y2018.csv">MediumCap</a>
            <a class="dropdown-item" href="TopStocks_SmallCap_W39Y2018_W42Y2018.csv">SmallCap</a>
            <a class="dropdown-item" href="TopStocks_Tele_W31Y2018_W34Y2018.csv">Tele</a>
            <a class="dropdown-item" href="TopStocks_Utilities_W37Y2018_W40Y2018.csv">Utilities</a>
          </div>
        </li>
      </ul>

      <div id="content-wrapper">

        <div class="container-fluid">
          <!-- Area Chart Example-->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-chart-area"></i>Welcome</div>
            <img src="/static/black.jpg" width="1200" height="500">
          </div>
        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Your Website 2018</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
      <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="/">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin.min.js"></script>

  </body>
</html>